*{ margin: 0;padding: 0;box-sizing: border-box; }
.content{  width: 400px;border: 2px solid red;margin: auto;padding: 70px;margin-top: 100px;border-radius: 10px;}
.content>div{ font-size: 50px;color: white;text-align: center;margin-bottom: 30px; }
button{ width: 100px;height: 40px;margin: auto; margin-right: 10px;background-color: rgba(0, 0, 0, 0.512);border: 2px solid white;border-radius: 10px;color: white;font-size: 20px;text-align: center;cursor:pointer;}