*{ margin: 0;padding: 0;box-sizing: border-box;text-align: center; }
.main{ width: 90%;height: 85vh;border: 2px solid red;margin: auto;margin-top: 3%; }
.text-box,.preview{ width: 60%;height: 150px;border-radius: 10px; text-align: center; border: 2px solid red;margin: auto;margin-top: 2%;}
button{ width: 150px;height: 50px; border: 2px solid red;border-radius: 10px; }
.counter{ width: 200px;height: 100px;border: 2px solid red;margin-left: 2%;}
